.App {
  text-align: center;
  margin: 100px;
  /* font-family: "Fredericka the Great", cursive; */
}
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
.reset {
  margin: 30px auto;
}
.piece{
  display: inline-block;
}
.title {
  font-size: 40px;
}

.title-Game{
  font-size: 200px;
  font-weight: 900;
   font-family:'Dela Gothic One', cursive;
   color: blue;
}
.title-GameFu{
  font-size: 200px;
  font-weight: 900;
  font-family: 'Dela Gothic One';
  color: rgb(216, 123, 24);
}
.score {
  margin: 10px auto;
  text-align: center;
  /* width: 390px; */
  /* height: 40px; */
  box-sizing: border-box;
}
.thescore{
  /* box-shadow: 2px 4px -30px 4px ; */
  box-shadow: -1px 5px 21px -4px rgba(255, 255, 255, 0.68);
  border-radius: 15px;

  /* box-shadow: -1px 1px 11px -2px rgb(145, 143, 143); */

}
.score-div {
  /* width: 195px; */
}

.clear {
  clear: both;
}

.App-box {
  background-color: Transparent;
  
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  float: left;
  font-size: 70px;
  height: 130px;
  width: 130px;
  margin-right: -1px;
  margin-top: -1px;
  font-family: "Crafty Girls", cursive;
}

.App-box:hover {
  background: #cfcfcf;
}
.App-box[data-pro='X']{
  font-size: 100px;
  font-weight: 900;
 color: blue;
}
.App-box[data-pro='O']{
  font-size: 100px;
  font-weight: 900;
  color: orange;
}
.x {
  font-size: 70;
}
.red {
  color: red !important;
}

.App p {
  /*color: b;*/
  text-shadow: 0px 0px 0px rgb(129, 150, 150);
  font-family: "Crafty Girls", cursive;
}

.App-main-box {
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-shadow: -1px 1px 11px -2px rgb(240, 239, 239);
-moz-box-shadow: -1px 1px 11px -2px rgb(248, 241, 241);
box-shadow: -1px 1px 11px -2px rgb(106, 106, 106);
  height: 414px;
  width: 414px;
  padding: 10px;
}

.App-main-box button:nth-child(1) {
  border-right: solid rgb(253, 253, 253) 2px;
  border-bottom: solid #000 2px;
  /* -webkit-box-shadow: -3px -2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -3px -2px 2px 0px rgba(0, 0, 0, 0.75); */
}

.App-main-box button:nth-child(2) {
  border-left: solid #000 2px;
  border-right: solid #000 2px;
  border-bottom: solid #000 2px;
  /* -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75); */
}

.App-main-box button:nth-child(3) {
  /* border-left: solid #000 2px; */
  border-bottom: solid #000 2px;
  /* -webkit-box-shadow: 2px -2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 2px 0px rgba(0, 0, 0, 0.75); */
  /* box-shadow: 2px -2px 2px 0px rgba(0, 0, 0, 0.75); */
}

.App-main-box button:nth-child(4) {
  border-top: solid #000 2px;
  /* border-right: solid #000 2px; */
  border-bottom: solid #000 2px;
  /* -webkit-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.75); */
}

.App-main-box button:nth-child(5) {
  border: solid #000 2px;
}

.App-main-box button:nth-child(6) {
  border-top: solid #000 2px;
  /* border-left: solid #000 2px; */
  border-bottom: solid #000 2px;
  /* -webkit-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.75); */
}

.App-main-box button:nth-child(7) {
  /* border-right: solid #000 2px; */
  border-top: solid #000 2px;
  /* -webkit-box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.75); */
}

.App-main-box button:nth-child(8) {
  border-top: solid #000 2px;
  border-left: solid #000 2px;
  border-right: solid #000 2px;
  /* -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75); */
}

.App-main-box button:nth-child(9) {
  /* border-left: solid #000 2px; */
  border-top: solid #000 2px;
  /* -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75); */
}

.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f9f9f9),
    color-stop(1, #e9e9e9)
  );
 
  background: linear-gradient(to bottom, #0b25b8 5%, #1068a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color: #f9f9f9;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Fredericka the Great", cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  /* text-shadow: 0px 1px 0px #ffffff; */
  margin: 5px 20px;
}
.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #e9e9e9),
    color-stop(1, hsl(0, 0%, 98%))
  );
 
  background: linear-gradient(to bottom, #ca5125 5%, #d8871e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color: #020202;
}
.btn:active {
  position: relative;
  top: 1px;
}

.lnk:link,
.lnk:visited {
  font-size: 20px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
.lnk:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

p {
  margin: 5px;
}

a {
  cursor: pointer;
  font-size: 25px;
}
